body {
  background-color: #000;
  color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#boot-screen {
  padding: 20px;
  white-space: pre-wrap;
  max-width: 800px;
}

#entry-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.terminal-output {
  white-space: pre-wrap;
  line-height: 1.6;
  max-width: 800px;
  border: 2px solid #ffffff;
  padding: 30px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px #ffffff22;
  margin-left:20rem;
}

.back-button {
  margin-top: 20px;
  background: none;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  margin-left: 20rem;
}

.back-button:hover {
  background: #ffffff;
  color: #000;
  transform: scale(1.05);
}
