html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
  color: #ffffff;
  
}

#boot-screen {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boot-text {
  font-size: 0.9rem;
  white-space: pre-wrap;
  padding: 1rem;
}

#entry-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.terminal-output {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: 0.95rem;
  color: #ffffff;
}

.back-button {
  padding: 0.75rem 1rem;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  align-self: flex-start;
  margin: 0 2rem 2rem 2rem;
  flex-shrink: 0;
}

.back-button:hover {
  color: black;
  background: #fffffffd;
}
